<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458364704776-rvlrp227a6809hm5fsjs3iq6o8ugm6ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458364704776-rvlrp227a6809hm5fsjs3iq6o8ugm6ve</string>
	<key>API_KEY</key>
	<string>AIzaSyDNJI-lyjA8KC0sDYic1lGHWBh-F-Or7Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>458364704776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auth</string>
	<key>PROJECT_ID</key>
	<string>authentication-7ae4b</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-7ae4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458364704776:ios:cb7155f41a29da4467d9bd</string>
</dict>
</plist>